* {
margin: 0;
box-sizing: border-box;
 padding: 0;
}
html,
body {
height: 100%;
border-style: 100%;
background-color: #1111;
}

.box{
    margin:5vw;
    margin-top:5vw;
    width: 40px;
    height:40px;
    background-color: crimson;

}
h1{

    color: red;
    font-family: gillroy;
   
}

.cont{
     margin:5vw
}

.box1{
    margin:5vw;
    margin-top:5vw;
    width: 150px;
    height:150px;
    background-color: crimson;

}
.box2{
    margin:5vw;
    margin-top:5vw;
    width: 150px;
    height:150px;
    background-color: cyan ;

}
.box3{
    margin:5vw;
    margin-top:5vw;
    width: 150px;
    height:150px;
    background-color: orange;

}

.nav
{
    background-color: #111111db;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.part2{
    width:15%;
     display: flex;
     gap: 1em;
}