* {
margin: 0;
box-sizing: border-box;
 padding: 0;
}
html,
body {
height: 100%;
border-style: 100%;
}

.box{
    margin:5vw;
    margin-top:5vw;
    width: 40px;
    height:40px;
    background-color: crimson;

}
h1{

    color: red;
    font-family: gillroy;
   
}

.cont{
     margin:5vw
}