* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f5f5f5;
  color: #111;
}

.page1,
.page2,
.page3 {
  height: 100vh;
  width: 100%;
}

.page2{
  background-color: lawngreen;
}