

* {
margin: 0;
box-sizing: border-box;
 padding: 0;
}

body {
 width:100vw;
    height: 100vh;
font-family:'baloo 2';
overflow-x: hidden;
}

#page1{
    width:100%;
    height: 100%;
background-color: black;

   
    
}
#page2{
    width:100%;
    height: 100%;
background-color: rgb(76, 195, 235);


   h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight: 600;
   }
    
}
#page3{
    width:100%;
    height: 100%;
background-color: black;
   

}

