* {
margin: 0;
box-sizing: border-box;
 padding: 0;
}
html,
body {
height: 100%;
height:100%;
width:100%;
background-color: #111;
}

.cont{

    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;

}

.cont h1{
    font-size: 10vw;
    color: #fff;
}

h1 span{
    display:inline-block
}